/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Comic+Neue:wght@400;700&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swapoogleapis.com/css2?family=Comic+Neue:wght@400;700&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Comic+Neue:wght@400;700&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&family=Unbounded:wght@200;300;400;500;600;700&display=swap);
/* NAVBAR */
nav {
  font-family: "Unbounded", sans-serif;
}

#logo-sou {
  border-radius: 100%;
}

/*Intro Banner*/

h1 {
  font-weight: 600;
}

#introduction {
  position: relative;
  font-family: "Comfortaa", sans-serif;
  color: black;
  text-align: center;
  padding: 50px 0 0;
} 

.img-banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}

.img-banner img {
  width: 100%;
  max-width: 100%;
}

/*Role Section*/
#role-section {
  background-color: #e4e4e4;
  font-family: "Comfortaa", sans-serif;
  padding-bottom: 30px;
}
h2 {
  text-align: center;
  padding: 20px;
  font-weight: 600;
  
}

#presentation{
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  padding-top: 20px;
}

/*Programm Section*/

.cards-wrapper {
  display: flex;
}

.card {
  margin: 0 0.5em;
  width: calc(100%/3);
}

.img-wrapper {
  height: 40vw;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.arrow {
  background-color: black;
}
